body {
  background: lightblue;
  padding: 5px 30px;
}

/************** GENERAL LAYOUT STYLES **********************/

.postcard, .postcard input, .postcard textarea {
  font-size: 18pt;
  font-family: Georgia;
}

#post-form {
    margin: 0 auto;
    width: 800px;
}

.postcard {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 3px 6px #000;

  width: 700px;
  height: 400px;
}

/************** STYLE PICKER **********************/

.style-preview {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
    
.style-preview img {
    width: 60px;
    height: 60px;
    border: solid 2px black;
}

.style-preview.active img { border-color: yellow; }

/************** INPUT CONTROLS **********************/

.picture-button {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -30px;
    margin-left: -3.5em;
    background-color: #555;
    color: grey;
    border-radius: 8px;
    padding: 0px 5px;
}

/* Reset input styles */
.postcard .message, .postcard .from {
    background-color: transparent;
    border: 0px;
    color: inherit;
}

/* Nice placeholder decoration for empty fields */
.needs-filling { 
    border: dashed 3px #EEE !important;
    border-radius: 10px;
}

.no-picture-for-you {
    text-align: center;
    size: 10px;
    margin-top: 100px;
    color: #888;
}

/************** FINALLY THE BIG BUTTON **********************/

.submit-btn {
    width: 500px;
    padding: 10px;
    font-size: 18pt;
}

.progress-bar {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    margin-top: -15px;
    height: 30px;
    border: solid 1px black;

    font-size: 10px;
    color: white;
    text-align: right;
    overflow: hidden;

    background: rgb(243,197,189); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(75%,rgba(255,102,0,1)), color-stop(100%,rgba(199,34,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}
