body {
  background: lightblue;
  padding: 100px;
}

#card-form {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px #000;
}

#post-form, #post-form input, #post-form textarea {
  font-family: Georgia;
  font-size: 18pt;
  line-height: 1.5em;
}

#card-form #from {
  height: 1.5em;
}

.post {
  background: white;
  border-radius: 10px;
  padding: 20px;
  font-family: Georgia;
  font-size: 16pt;
  line-height: 1.5em;
  width: 20em;
  border: solid 1px black;
  box-shadow: 10px 10px 20px #000;
}

.from {
  text-align: right;
  position: relative;
}

.picture-preview {
    max-width: 100px;
    max-height: 100px;
}

.style-preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 2px black;
}
    
.style-preview.active { border-color: yellow; }

.style-preview img {
    width: 60px;
    height: 60px;
}
