<!doctype html>
<html>
    <head>
        <!-- Base libraries -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <!-- Postcards module -->
        <script src="/postcards/postcards.js"></script>
        <link rel="stylesheet" href="/postcards/postcards.css">

        <!-- Fonts we're gonna be needing -->
        <!-- FIXME: Move to postcards library -->
        <link href='http://fonts.googleapis.com/css?family=Crafty+Girls|Short+Stack|Coming+Soon|Rock+Salt' rel='stylesheet' type='text/css'>

        <!-- Main script -->
        <link rel="stylesheet" href="/view/view.css">
        <script src="view.js"></script>

        <title>Sioux Kerst</title>
    </head>
    <body>
        <div class="surface">
            <div class="banner">Ga naar <span class="emph">sioux.eu/xmas</span>, tweet met hashtag <span class="emph">#siouxkerst</span>, of gebruik de tablet om je bericht achter te laten.</div>
        </div>
    </body>
</html>
